[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nls.multstart"]
	path = nls.multstart
	url = https://github.com/padpadpadpad/nls.multstart
[submodule "rTPC"]
	path = rTPC
	url = https://github.com/padpadpadpad/rtpc
